name: PR Tests

on:
  pull_request:

jobs:
  basic-tests:
    runs-on: ${{ matrix.os }}
    env:
      term: xterm
    strategy:
      matrix:
        include:
          - os: macos-11
            file: dist/@lando/code-sign-action
            certificate-data: APPLE_CERT_DATA
            certificate-password: APPLE_CERT_PASSWORD
            apple-team-id: FY8GAUX282
          - os: ubuntu-20.04
            file: dist/@lando/code-sign-action
          - os: windows-2022
            file: dist/@lando/code-sign-action.exe
            certificate-data: WINDOZE_CERT_DATA
            certificate-password: WINDOZE_CERT_PASSWORD
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install Yarn dependencies
        shell: bash
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Package node binary
        shell: bash
        run: yarn build
      - name: Codesign
        uses: ./
        id: code-sign-action
        with:
          file: ${{ matrix.file }}
          certificate-data: ${{ secrets[matrix.certificate-data] }}
          certificate-password: ${{ secrets[matrix.certificate-password] }}
          apple-team-id: ${{ matrix.apple-team-id }}
      - name: Test outputs
        shell: bash
        env:
          FILE: ${{ steps.code-sign-action.outputs.file }}
        run: |
          chmod +x "$FILE"
          "$FILE"

jobs:
  options-tests:
    runs-on: macos-11
    env:
      term: xterm
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install Yarn dependencies
        shell: bash
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Package node binary
        shell: bash
        run: yarn build
      - name: Codesign
        uses: ./
        with:
          file: ${{ matrix.file }}
          certificate-data: ${{ secrets.APPLE_CERT_DATA }}
          certificate-password: ${{ secrets.APPLE_CERT_PASSWORD }}
          apple-team-id: FY8GAUX282
          options: --force --options runtime --entitlements entitlements.xml

